
{% extends "layout.html" %}
{% block title %}Welcome{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="col-sm-8">
    <h1>What are people saying about your product?</h1>

    <p>Say you have a property laying around... Or you are looking to buy a property and rent it out for some sweet
        cash.
        First Place you will seek is probably... Airbnb!
    </p>
    <p>But wait! If you are a SuperHost, you can make on average $1200 more per month. But how do you get there? You
        have to
        have a 5* rating and maintain it!</p>

    <p></p>

    <h4><a href="/cluster" class="btn btn-primary" role="button">Let's Go!</a>
    </h4>
</div>
{% endblock %}