<!DOCTYPE html>
<html lang="en">
  <head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">  
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <section id="hero" class="wow fadeIn">
        <div class="hero-container">
            <h1>Feedback Classifier</h1>
            <h2>What are people saying about your product?</h2>
            <img src="img/hero-img.png" alt="Hero Imgs">
        </div>
    </section><!-- #hero -->

    <div class="text-center" style="margin-top:30px">
        <div class="text-center">
          <h2>What are people saying about your product?</h2>
            <textarea class="text-left"
            style="width:700px; height:250px;"
            class="form-control"
            id = "feedbackBox"
                placeholder="Insert your feedback here..."></textarea>
            <div class="form-group">
                <button id="submit">Submit</button>
            </div>
        </div>

        <div class="text-left" style="display: none" id='the_result_div'>
            
         results will go here
        </div>
    </div>


    <div class="jumbotron text-center" style="margin-bottom:0">
      Like this? Join the <a href="http://thisismetis.com/">Metis Data Science Community</a>!
    </div>
  </body>
  <script>
  $('#submit').click( () => { processData(); } );
  function processData(){
    let feedback = $("#feedbackBox").val();
    console.log(feedback);
    $.ajax({
      type: "POST",
      contentType: "application/json; charset=utf-8",
      url: "/cluster",  // Replace with URL of POST handler
      dataType: "json",
      async: true,
      data: JSON.stringify({feedback}),
      success: (result) => {
        console.log(result);
        $("#the_result_div").empty();
        for (let category in result) {
            $("#the_result_div").append('<h2>' + category + '</h2>');
            let sentences = result[category];
            sentences.forEach((sentence) => {
                // <div class="card" style="width: 18rem;">
                //     <img class="card-img-top" src="..." alt="Card image cap">
                //     <div class="card-body">
                //         <p class="card-text"> sentence </p>
                //     </div>
                // </div>
                $("#the_result_div").append(sentence + "<br/>");
            })
           
        }
        $('#the_result_div').show();
        },
        error: (result) => {
          console.log(result);
        alert('An error occurred. Refresh and try again.');
        }
    })
  }
  </script>
</html>